[submodule "Contract/UnitradeEscrow/lib/forge-std"]
	path = Contract/UnitradeEscrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contract/UnitradeEscrow/lib/openzeppelin-contracts"]
	path = Contract/UnitradeEscrow/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
